<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-header">Products Management System</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success fa fa-plus add-new-product" ng-click="$ctrl.open(product,'add');">&nbsp;Add New Product</button>
        </div>
    </div>

    <div class="table-responsive">
        <div class="panel panel-info">
            <div class="panel-heading">List of products
                <div class="sw-search">
                    <div class="nav-search" id="nav-search">
                        Filter: <span class="input-icon">
                        <input placeholder="Filter products list ..." class="nav-search-input" ng-model="filterProduct"  autocomplete="off" type="text" style="width:300px;">
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Packing</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="record">
                        <tr ng-repeat="product in $ctrl.products | filter:filterProduct | orderBy:'-id'" id="{{product.id}}">
                            <td ng-click= "$ctrl.navigateToProductDetails(product)"><a>{{product.id}}</a></td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.stock}}</td>
                            <td>{{product.packing}}</td>
                            <td>{{product.description}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default fa fa-edit" ng-click="$ctrl.open(product,'edit');"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="$ctrl.deleteProduct(product);"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>